*{
    margin: 0;
    box-sizing: border-box;

}
.container-home{
    width: 100%;
}
nav{
    background-color: black;
}

.container-home nav .row{
    width: 100%;
}
.container-home nav .row .col-8 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;

}
.container-home nav .row .col-8 h4{
    color: white;
    font-size: 20px;
}


.container-home nav .row .col-4.bag{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
  
}

nav .row .col-4.bag .icon img{
    width: 50px;
}
.main.col-md-12.col-lg-12.col-sm-12 {
    height: 100vh;
    background-image: url(/img/prince-akachi-6NhEFn3aqjc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.overlay{
    background-color: rgba(255, 192, 203, .03);
    color: white;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.link{
    padding: 50px;
}

.link ul{
    list-style: none;
}
.link ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.company{
    margin-top: 50px;
   display: flex;
   justify-content: center;
   line-height: 1.5;
   word-spacing: 2;
   margin-bottom: 50px;
}
.company h3{
    width: 1000px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.collect{
    margin-top: 50px;
   display: flex;
   justify-content: center;
   line-height: 1.5;
   word-spacing: 2;
   margin-bottom: 50px;
}

.collect h4{
    width: 1000px;
    font-size: 22px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}
.fashion{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/oladimeji-odunsi-Yi4Zs64l0tE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.fashion .row .col-md-4.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    word-spacing: 2;
    color:white;
    padding-left: 40px;
}
.fashion .row .col-md-8.col-sm-12.tube{
    display: flex;
    justify-content: center;
    
}
.clothes{
    margin: 75px;
text-align: center;
}
.clothes .row.view h6{
    display: flex;
    justify-content: flex-end; 
}
.row{
    display: flex;
    justify-content: center;
    
}
.clothes .card {
    margin-right: 20px;
    
}
.flowers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flowers p{
    width: 1000px;
    font-size: 12px;
    font-weight: 400;
    
}
@media only screen and (max-width: 350px){
    .company{
     width: 300px;
     text-align: center;
 
    }
     .company h3{
         font-size: 18px;
     }
     .collect{
        width: 100%;
         text-align: center
     }
     
     .collect h4{
        width: 100%;
         font-size: 20px;
     }
     .fashion{
        width: 30rem;
     }
    
     .fashion .row .col-md-4.title{
         line-height: 1;
         word-spacing: 0;
         color:white;
         font-size: 14px;
     }
     .fashion .row .col-md-4.title h4{
         line-height: 1.3;
         word-spacing: 0;
         color:white;
         padding: 10px;
         font-size: 20px;
     }
     .fashion .row .col-md-4.title p{
         line-height: 1;
         word-spacing: 0;
         color:white;
         padding: 10px;
         font-size: 20px;
     }
     .video-container iframe {
        width: 250px;
        height: 150px;
      }
 }
 
@media only screen and (max-width: 500px){
    .main{
        width: 100%;
    }
    .overlay{
        width: 250px
    }
    .company{
        width: 100%;
        text-align: center;
       }
    .company h3{
        font-size: 25px;
    }
    .collect{
        width: 100%;
        text-align: center
    }
    
    .collect h4{
        width: 100%;
        font-size: 18px;
       
    }
    .fashion{
        width: 100%;
    }
.fashion .row .col-md-4.title{
    line-height: 1;
    word-spacing: 1;
    color:white;
    padding-left: 10px;
    font-size: 18px;
}
 iframe {
    width: 300px;
    height: 150px;
  }
  .flowers p{
    width: 1000px;
    font-size: 10px;
    font-weight: 400;
}
